body{
    background-color: #000;}
    .cuadradosbene{
    display: flex;
    gap: 20px;
    flex-direction: column;
    }
 .logo{
    height: 100%;
    aspect-ratio: 1/1;
    }
    
    
    .rectanguloar{
    width: 1366px;
    height: 100px;
    background-color:  #6DA67A;
    align-items: center;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    }
    .rectanguloaba{
    width: 1366px;
    height: 668px;
    top: 90px;
    opacity: 1;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;
    }
    .arriba{
    display: flex;
    gap: 30px;
    align-items: center;
    
    
    }
    .Inicio {
    left: 313px;
    opacity: 1;
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
    cursor: pointer;

    
    
    }
    .Beneficios{    
    top: 32px;
    left: 400px;
    opacity: 1;
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4A4857;
    cursor: pointer;
    }
    .Historial{
    width: 97;
    height: 34;
    top: 32px;
    left: 544px;
    opacity: 1;
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4A4857;
    }
    .Acerca{
    width: 113;
    height: 34;
    top: 32px;
    left: 668px;
    opacity: 1;
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#4A4857;
    }
        
    
    
    
    