body {
    background-color: #efefef;
    height: 100vh;
    margin: 0;
  }


    .logo {
      height: 90%;
      aspect-ratio: 1/1;
      margin-left: 2%;
    }
    .reciclametxt{
    color: #1F8527;
font-family: "Nunito Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
      margin-left: 1%;
      width: 20%;
    }
    .arribadeltodo {
      height: 11%;
      width: 100%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
    }



  .textosarriba {
    gap: 4.5%;
      display: flex;
      align-items: center;
      flex: 1;
      height: 100%;
      margin-left: 7%;
    }
    .perfil {
      height: 50%;
      width: auto;
      aspect-ratio: 1/1;
      margin-right: 3%;
      cursor: pointer;
    }
    .parteactual {
      font-family: Nunito Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 0%;
      text-decoration-skip-ink: auto;
      color: #56a25c;
      cursor: pointer;
    }
    .otraparte {
      font-family: Nunito Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #4a4857;
      cursor: pointer;
    }

.contenedorabajo {
  width: 96%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-left: 2%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2%;
  padding-bottom: 1%;
  overflow: hidden;
}



.beneficiosdisponibles {
  font-family: Nunito Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
}

.usapuntos {
color: #000;
font-family: "Nunito Sans";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0.5%;
margin-bottom: 0;
}

.puntosdisponibles {
  display: flex;
  align-items: center;
 border-radius: 12px;
border: 1px solid #000;
background: #ECECEC;
  height: 9%;
  width: 20%;
  margin-right: 0;
  margin-left: auto;
  margin-top: -5.5%;
}

.txtpuntosdisponibles {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin-left: 2%;
}
.trofeo{
margin-left: 5%;
}
.filtros {
  display: flex;
  margin-top: 2%;
  gap: 1.5%;
  width: 70%;
  height: 6.5vh;
}


.filtro {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  padding: 1.5% 1.5%; 
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #000;
  background: #FFF;
  gap: 4px;
  width: fit-content;
}


.filtrotxt {
font-family: "Nunito Sans";
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.filtroimg {
  margin-left: 1%;
  
}
.filtroactivo {
  background-color: #56A25C;
  border: 1px solid #56A25C;
  color: #FFFFFF;
}
.tarjetasbeneficios{
display: flex;
flex-wrap: wrap;
width: 100%;
height: 100%;
gap: 2%;
}
.tarjetabeneficio{
width: 32%;
height: 26vh;
box-sizing: border-box;
border-radius: 18px;
border: 1px solid #ECECEC;
background: #F5F5F5;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
margin-top: 2%;
gap: 2%;
display: flex;
}
.imagenn{
width: 35%;
height: 100%;
align-items: center;
}
.imgbeneficio{
margin-right: 0%;
margin-left: auto;
margin-top: 22.5%;
margin-left: 10%;
}
.textoss{
height: 100%;
width: 70%;
margin-left: 10%;
gap: 1%;
display: flex;
flex-direction: column;
}
.beneficiotxt{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.descripcion{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -7%;
}
.puntaje{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -7%;
}

/*
 <div class="imgbeneficio"></div>
    <p class="beneficiotxt"></p>
    <p class="descripcion"></p>
    <p class="puntaje"></p>