body {
    background-color: #efefef;
    height: 100vh;
    margin: 0;
  }


   .logo {
      height: 100%;
      aspect-ratio: 1/1;
      margin-left: 1.4%;
    }
    .reciclametxt{
      font-family: Nunito Sans;
      font-weight: 700;
      font-style: Bold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #1F8527;
      margin-left: 1%;
      width: 20%;
      margin-top: 2.1%;
    }
    .arribadeltodo {
      height: 11%;
      width: 100%;
      background-color: #ffffff;
      display: flex;
    }


  .abajoizquierda {
    flex-direction: column;
    width: 70%;
    height: 100%;
  }

          .textosarriba {
      gap: 4%;
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: 0%;
      margin-left: 10%;
    }
    .parteactual {
      font-family: Nunito Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 0%;
      text-decoration-skip-ink: auto;
      color: #56a25c;
      cursor: pointer;
    }
    .otraparte {
      font-family: Nunito Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #4a4857;
      cursor: pointer;
    }

.contenedorabajo {
  width: 97%;
  height: 95%;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-left: 1.5%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2%;
  overflow: hidden;
}



.beneficiosdisponibles {
  font-family: Nunito Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.usapuntos {
color: #000;
font-family: "Nunito Sans";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.puntosdisponibles {
  display: flex;
  align-items: center;
 border-radius: 12px;
border: 1px solid #000;
background: #ECECEC;
  height: 9%;
  width: 20%;
}

.txtpuntosdisponibles {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin-left: 2%;
}

.filtros {
  display: flex;
  margin-left: 4%;
  margin-top: 2%;
  gap: 1.5%;
  width: 100%;
}


.filtro {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1.5% 3%;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #000;
  background: #FFF;
  gap: 6px;
}


.filtrotxt {
color: #FFF;
font-family: "Nunito Sans";
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.filtroimg {
  margin-left: 1%;
  
}
.filtroactivo {
  background-color: #56A25C;
  border: 1px solid #56A25C;
}
.filtroactivo p {
  color: #FFFFFF;
}
.filtroactivo img{
stroke-width: 3px;
stroke: #FFF;
}
.tarjetabeneficio{
width: 5%;
height: 5%;
}