body {
    background-color: #efefef;
    height: 100vh;
    margin: 0;
  }
  
  
   .logo {
      height: 100%;
      aspect-ratio: 1/1;
      margin-left: 1.4%;
    }
    .reciclametxt{
      font-family: Nunito Sans;
      font-weight: 700;
      font-style: Bold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #1F8527;
      margin-left: 1%;
      width: 20%;
      margin-top: 2.1%;
    }
    .arribadeltodo {
      height: 11%;
      width: 100%;
      background-color: #ffffff;
      display: flex;
    }
  
  
  .abajoizquierda {
    flex-direction: column;
    width: 70%;
    height: 100%;
  }
  
          .textosarriba {
      gap: 4%;
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: 0%;
      margin-left: 10%;
    }
    .parteactual {
        font-family: Nunito Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #56a25c;
        cursor: pointer;
        margin-left: 30%;
      }
      .otraparte {
        font-family: Nunito Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #4a4857;
        cursor: pointer;
      }
      .home{
        margin-left: 10%;
       
      }
      .historialarriba{
        margin-left: 3%;
      }
  
  .contenedorabajo {
  width: 97%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-left: 1.5%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2%;
  overflow: hidden;
  }
  
  
  
  .historialdereciclaje {
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
    margin-top: 0;
  }
  
  .revisaentregas {
  color: #000;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 0;
  }
  .recdehistorial{
  width: 100%;
  height: 10vh;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px #00000040;
  margin-top: 2vh;
  display: flex;
  }
  .fotoelemento{
  height: 8vh;
  aspect-ratio: 1/1;
  background-color: #D9D9D9;
  margin-left: 2%;
  margin-bottom: 1vh;
  margin-top: 1vh;
  }
  .elementotxt{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 4%;
  }
  .unidadestxt{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15%;
    margin-bottom: 1.05%;
    margin-top: auto;
  }
  .maspuntos{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10%;
      margin-bottom: 1.05%;
        margin-top: auto;
  }
  .puntoverdetxt{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1%;
      margin-top: auto;
      margin-left: 10%;
  }
  .fecha{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1%;
      margin-top: auto;
      margin-left: auto;
      margin-right: 5%;
  }