  body {
      background-color: #efefef;
      height: 100vh;
      margin: 0;
      overflow: hidden;
    }
   *{
    margin: 0;
   }

    .logo {
      height: 90%;
      aspect-ratio: 1/1;
      margin-left: 2%;
    }
    .reciclametxt{
    color: #1F8527;
font-family: "Nunito Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
      margin-left: 1%;
      width: 20%;
    }
    .arribadeltodo {
      height: 11%;
      width: 100%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
    }
  .textosarriba {
    gap: 7.5%;
      display: flex;
      align-items: center;
      flex: 1;
      height: 100%;
      margin-left: 12%;
    }
    .perfil {
      height: 50%;
      width: auto;
      aspect-ratio: 1/1;
      margin-right: 3%;
      cursor: pointer;
    }
    .parteactual {
      font-family: Nunito Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 0%;
      text-decoration-skip-ink: auto;
      color: #56a25c;
      cursor: pointer;
    }
    .otraparte {
      font-family: Nunito Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #4a4857;
      cursor: pointer;
    }
    .contenedorabajo {
      width: 100%;
      height: 89%;
      background-color: #ededed;
      display: flex;
      flex-wrap: wrap;
    }
    .verbeneficios {
      width: 89%;
      height: 26%;
      background-color: #51d75c40;
      box-shadow: 0px 2px 4px 0px #00000040;
      border-radius: 18px;
      margin: 5%;
      display: flex;
      cursor: pointer;
    } 
    .holausu {
  height: 31%;
  width: 49%;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  margin-top: 1.5%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.identificarusuario{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 3%;
  margin-top: 3%;

}
.recverificarusuario{
width: 94%;
height: 55%;
border-radius: 18px;
background-color:#51D75C33;
margin-left: 3%;
margin-top: 2%;
}
.usuarioabajo{
height: 51%;
aspect-ratio: 1/1;
margin-left: 3%;
margin-top: 4%;
}
.nombreusuario{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 15%;
  margin-top: -10%;
}
.saldo{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 15%;
  margin-top: 0%;
}
.verificado{
  color: #1F8527;
  font-family: "Nunito Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 75%;
  margin-top: -8%;
}

    .puntocercano {
      width: 44%;
      height: 31%;
      border-radius: 25px;
      background: #56A25C;
      margin-top: 1.5%;
      margin-left: 3%;
      border-width: 2px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 1%;
      box-sizing: border-box;
      margin-top: 1.5%;
justify-content: space-between;
    }
    .masxpuntos{
      -webkit-text-stroke-width: 5px;
      -webkit-text-stroke-color: #1F8527;
      paint-order: stroke fill;
      color: #FFFF;
      font-family: "Nunito Sans";
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 1%;
      margin-left: 3%;
    }
    .totalasignar{
      color: #FFF;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #1F8527;
      paint-order: stroke fill;
      font-family: "Nunito Sans";
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 3%;
      margin-top: -3%;
    }
    .verdetalle{
    width: 67%;
    height: 25%;
    border-radius: 18px;
border: 1px solid #4A4857;
background: rgba(81, 215, 92, 0.25);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-left: 3%;
margin-top: -3%;
cursor: pointer;
    }
.verdetalletxt{
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tacho{
width: 17%;
height: 64%;
margin-top: -23%;
margin-right: 4%;
margin-left: auto;
}


    
    .cargarpuntosdiv {
      width: 95.6%;
      height: 55%;
      background-color: #ffffff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      border: 2px solid #ffffff;
      border-radius: 25px;
      border-width: 2px;
      opacity: 1;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .cargarproductostxt{
      color: #000;
font-family: "Nunito Sans";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 1.5%;
margin-top: 1%;
    }
    .filtros{
    width: 100%;
    height: 12%;
    display: flex;
    gap: 0.5%;
    margin-left: 1.5%;
    margin-top: 1%;
  }
  .filtro{
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
padding: 5px 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 25px;
border: 1px solid ;
background: #FFF;
  }
  .filtroactivo{
    background: #1F8527;
    color: #FFF;
  }
.filtrotxt{
  font-family: "Nunito Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.todoslosproductos{
  width: 100%;
  height: 70%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-bottom: 2%;
  margin-left: 1.5%;
  gap: 2%;
}

.recproducto{
  aspect-ratio: 1/1;
  height: 96%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 1.5%;
}
.fotomaterial{
height: 22%;
width: 22%;
aspect-ratio: 1/1;
border-radius: 8px;
border: 1px solid #D2D2D2;
background: #F2F2F2;
margin-left: 3%;
margin-top: 7%;
}
.materialtxt{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 32%;
  margin-top: -18%;
}
.masxpuntosabajo{
  color: #1F8527;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 32%;
}
.mas{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 5%;
  margin-left: auto;
}
.menos{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 5%;
  margin-right: auto;
}
.detalle{
  color: #4A4857;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 3%;
  margin-top: 3%;
}
.recgramos{
width: 94%;
height: 17%;
border-radius: 9px;
background: rgba(221, 221, 221, 0.87);
background-color: #DDDDDDDD;
margin-left: 3%;
margin-top: auto;
display: flex;
align-items: center;
justify-content: center;
}
.gramos{
  color: #000;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.recagregar{
width: 94%;
height: 12%;
border-radius: 9px;
background-color: #56A25C;
margin-left: 3%;
margin-top: 4%;
margin-bottom: 6%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.agregartxt{
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}




/*detalleoperacion */


.fondodetalleoperacion{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236, 0.65);
  display: none;
}
.fondodetalleoperacion{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236, 0.65);
  display: none;
}
.fondodetalleoperacion.visible{
  display: block;
}





.contenedorentero{
width: 54%;
height: 66%;
border-radius: 30px;
background-color: #FFF;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-left: 23%;
margin-top: 9%;
padding-top: 1%;
}
.detalleoperacion{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 3%;
    margin-bottom: 2%;
}
.elementoseleccionado{
width: 94%;
height: 10.5%;
background: #F6F6F6;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
margin-left: 3%;
margin-top: 2%;
display: flex;
align-items: center;
}
.observacion{
height: 9%;
width: 94%;
margin-left: 3%;
border-radius: 9px;
background: #EDEDED;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin-top: 3%;
}
.terminartransaccion{
    width: 94%;
    margin-left: 3%;
    height: 10.5%;
    border-radius: 18px;
background: #56A25C;
margin-top: 4%;
border: solid  #56A25C ;
cursor: pointer;
}
.terminartxt{
    color: #FFF;
    font-family: "Nunito Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fotoelemento{
height: 70%;
aspect-ratio: 1/1;
background: #D9D9D9;
margin-left: 2%;
}
.elementotxt{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3%;
}
.masxpuntosdetalle{
    color: #1F8527;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 30%;
    margin-right: 2%;
}

