*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
height: 100vh;
background-color: #EDEDED;
display: flex;
justify-content: center;
align-items: center;
}
.cuadradoentero{
width: 48%;
height: 54%;
background-color: #ffff;
box-shadow: 0px 4px 4px 0px #00000040;
border-radius: 30px;
display: flex;
flex-direction: column;
}
.reccontitulos{
width: 90%;
height: 16%;
margin-top: 8%;
margin-right: 5%;
display: flex;
}
.titulo{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1F8527;   
    margin-top: 1.5%; 
}
.bienvenido{
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin-left: auto;  
    margin-top: 2%; 
    margin-right: 0%; 
}
.textobienvenida{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin-top: 6%;
    margin-left: 6%;
}
.logo{
    height: 150%;
  aspect-ratio: 1/1;
  margin-top: -3%;
  margin-left: 4%;
}
.losrec{
    width: 88%;
    height: 15%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    border: 2px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 8px;
    align-items: center;
}
.escribir{
    color: #4A4857;
    font-family: "Nunito Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #F5F5F5;
    border: 2px solid #F5F5F5;
    outline: none;
    margin-left: 2%;
    flex:1;
    min-width: 0;
}
.svg{
margin-left: 2.5%;
}
.botonsiguiente{
    width: 88%;
    height: 15%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #56A25C;
    display: flex;
    border: 2px solid #F5F5F5;
    border-radius: 18px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.siguientetxt{
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}